<!-- Display all posts -->
{{#each posts}}
  <div class="post">
    <h2 class="forum-title">{{title}}</h2>
    <p class="forum-body">{{body}}</p>
    <p class="created-by">Created by: {{username}}</p>
  </div>
{{/each}}