{{> header}}
<main>

    {{#if isLoggedIn}}
      <a href="/create-post">Create a New Post</a>
    {{else}}
      <p>Please login or sign up to create a post.</p>
    {{/if}}

{{> forum-content}}
</main>